html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bg1 {
    background-image: url(Assets/Landscape1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bg2 {
    background-image: url(Assets/2125.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bg3 {
    background-image: url(Assets/3969.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.topnav {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;

}

.topnav a {
    font-size: 18pt;
    /* font-family: 'Roboto', serif; */
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    height: 100vh;
}

.home-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.left-centered {
    padding: 60px;
}

.text-box {
    width: 400px;
    word-wrap: break-word;
    white-space: normal;
}